@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #ecececec;
    padding : 20px;
}
.container{
    position : relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding : 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header{
   font-size: 1.5rem; 
   color :black;
   font-weight: 500;
   text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label{
   color: #333; 
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color :#143147;
    margin-top: 15px;
}

.form .column{
    display: flex ;
    column-gap: 15px;

}

.form :where(.gender-option,.gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender{
   column-gap: 5px;
   margin-left: 100px;
    
}
.form :where(.gender input, .gender label)
{
    cursor: pointer;
}

.form .gender-box{
    margin-top: 20px;
}
.gender-box h3{
     color:#333;
     font-size:1rem ;
     font-weight:400 ;
     margin-bottom: 8px;
}
.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    margin: 0;
   background-color: #fff;
   color: #333;
   font-size: 1rem;

}

.address :where(input,.select-box label)
{
    margin-top: 15px;
}

.form button{
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    font-size: 1rem;
    background-color: #143147;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all 0.2s ease;
    height: 55px;
}
.form button:hover{
    color:black;
    background-color: transparent;
    cursor: pointer;
}
.select-btn {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: #143147;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex; /* Ajout */
    align-items: center; /* Ajout */
}


.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    height: 21px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}
.select-btn .btn-text {
    flex: 1; 
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.select-btn.open ~  .list-items{
    display: block;
}

.list-items{
    display: none;
    border-radius: 6px;
    border : 1px solid #c0c0c0;
}

.form :where(.list-items .item,.list-items .item-skills) {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    transition: 0.3s;
}
.list-items .item:hover{
   background-color: #c0c0c0;
}
.list-items .item-skills:hover{
    background-color: #c0c0c0;
 }
.form :where(.item .checkbox,.item-skills .checkbox) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    padding: 2px;
    margin-right: 12px;
    border: 1.5px solid #143147;
    transition: all 0.3s ease-in-out;
}

.form :where(.item,.item-skills){
 position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 1rem;
    color: #143147;
    display: flex; /* Ajout */
    align-items: center; /* Ajout */
}

.form :where(.item .item-text,.item .item-skills){
    font-size: 16px;
    font-weight: 400px;
}

.form :where(.item  .check-icon i,.item-skills .check-icon i) {
    transform: scale(0);
    font-size: 11px;
    transition: all 0.3s ease-in-out;
}

.form :where(.item.checked i, .item-skills.checked i)  {
    transform: scale(1);
}

.gender input{
    accent-color: #143147;
}

@media  screen and (max-width :500px) {
    .form .column{
        flex-wrap: wrap;
    }
    .form :where(.gender-option,.gender){
        row-gap: 15px;
    }
}
