/* styles.css */

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
}
/* Styles pour la bannière */
/* Styles pour le conteneur d'image */
.image-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/volunteer.svg);
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    box-sizing: border-box;
  
  }

   .navbar{
    height:12%;
    display:flex;
    align-items: center;

   }

  .logoimg{
    margin-top: 30px;
    width: 200px;
    cursor: pointer;

  }
  
  nav{
    flex:1;
    text-align: right;

  }


  .right{
    width:600px;
  }

 
  .FAQ {
    margin-right: 150px;
  }

  .navbar .container{
    display: flex;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px ;
    position: relative;
  }

  
  nav ul li ::after {
   content: '';
   height: 3px;
   width: 0;
   background: #102C57;
   position: absolute;
   left: 0;
   bottom:-10px;
   transition: 0.5s;
  }
  nav ul li :hover::after {
    width: 100%;
   }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .content{
    width: 100%;
    margin-top: 200px;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }

  .content h1 {
    font-size: 35px;
    margin-top: 100px;
  }

  .content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-top: 40px;
  }
  .content button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid #102C57;
    background: transparent;
    color:#fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  span{
    background:#102C57 ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  .content button:hover span{
    width: 100%;
  }
  .content button:hover{
    border: none;
  }

  footer {
    background-color: #EADBC8;
    color: black;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
      display: flex;
   justify-content: center;
   justify-items: center;
   flex-direction: column;
}

footer p {
  text-align: center;
}

.social-icons {
  margin-top: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    

}

.social-icons a{
  margin-bottom: 10px;
}

.insta{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
}




.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

.social-icons a:hover {
    color: #102C57; /* couleur Twitter */
}

.statistiques {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.skill1 {
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ajoute une ombre douce */
    margin-right: 100px;
    background-color: #FEFAF6;
    margin-bottom: 40px;
    display: inline-block;
}


.skill2 {
    width: 300px;
    height: 300px;
    background-color: #FEFAF6;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ajoute une ombre douce */
}
.ines{
    margin-left: 60px;
    margin-top: 30px;
}
.macilia{
    margin-left: 60px;
    margin-top: 30px;

}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill1 p {
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

.skill2 p {
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

#number1,
#number2 {
    font-size: large;
    font-weight: bold;
    color: #555;
}

circle {
  stroke: url(#GradientColor);
    fill: none;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 7s linear forwards;

}

svg {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 60px;
    margin-top: 30px;

}

@keyframes anim {
    100% {
        stroke-dashoffset: 165;
    }
}

.RechercheBenevole .Description{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.RechercheChef .Description{
    display: flex;
    flex-direction: column;
   
}

.RechercheBenevole{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color:#DAC0A3;
    margin-bottom: 40px;
    background: -webkit-linear-gradient(90deg, #102c57,#dac0a3,#eadbc8);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             ;
}
.RechercheChef{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #DAC0A3;
    margin-bottom: 100px;
    margin-top: 40px;
    background: -webkit-linear-gradient(90deg, #102c57,#dac0a3,#eadbc8);

}

.BenImageimg{
   
    margin-top: 30px;
    border-radius: 50%;
    width: 400px;
    height: 350px; 
    margin-bottom: 30px;
    object-fit: cover; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); 

}
.ProjImageimg {
    margin-top: 30px;
    border-radius: 50%;
    width: 400px;
    height: 350px; 
    object-fit: cover; 
    margin-bottom: 30px;
    margin-left: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); 
}

  .searchBen {
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
  }

  .searchProj {
    text-align: center;
    margin-top: 20px;
   
  }
  

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    padding: 5px;
}

.search-bar button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.search-bar .search {
    width: 30px; /* Ajustez la taille de l'image ici */
    height: 30px; /* Ajustez la taille de l'image ici */
}


h2 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    
}


.Description p {
    font-size: 16px;
    color: rgba(62, 55, 55, 0.726);
    line-height: 1.5;
    margin-top: 20px;
}

.title{
    width:300px;
    margin-right: 30px;
}

.description{
  width: 600px;
}




.contact-info{
  text-align:justify;
  line-height: 1.5;
  margin-right: 20px;
}
  
.p{
  text-align:justify;
  line-height: 1.5;
}

.entete{
  display: flex;
 
  margin-bottom: 10px;
}

.trait-horizontal {
  width: 65%;
  height: 1px; /* épaisseur du trait */
  background-color: white; /* couleur du trait */
  margin-left: 20px;
  margin-top: 10px;
  
}


.bas{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.avis-section {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-bottom: 100px;
}

.avis {
  background-color: #102C57;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.imggg{
  width:100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;

}

.h11{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.imgg{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avis-content {
  text-align: center;
}

.author {
  font-weight: bold;
  margin-bottom: 10px;
}

.rating {
  font-size: 24px;
  margin-top: 10px;
}


  
  
  
 
  