body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

li:last-child {
    margin-bottom: 0;
}

.additional-info {
    color: #666;
}

.additional-info strong {
    font-weight: bold;
    color: #333;
}

.additional-info:first-child {
    margin-top: 10px;
}

.additional-info:not(:first-child) {
    margin-top: 5px;
}

