

.image-container {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/resultatpp.svg);
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    position: relative;
  
  }


.search-barpro input[type="text"] {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    padding: 5px;
}

.search-barpro{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    width: 500px;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.period{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    width: 400px;
    height: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;

}


.searchBen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: calc(85%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.search1{
    width:20px;
    height: 20px;
}


.search-barpro button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #009688;
    color: #fff;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-barpro button:hover {
    background-color: #009688;
}

::placeholder{
    font-size:large;
    margin-left: 20px;
}


.search-barpro2 {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.search-barpro2 input[type="text"] {
    border: none;
    background: none;
    outline: none;
    flex: 1;
   
}

.period button{
   
    border: none;
  
    cursor: pointer;
}

.date input[type="text"] {
    border: none;
    background: none;
    outline: none;
    flex: 1;
   
}

.search-barpro2 button {
    border: none;
    background: none;
    cursor: pointer;
}

.search-barpro2 .search2 {
    width: 25px; /* Ajustez la taille de l'image ici */
    height: 25px; /* Ajustez la taille de l'image ici */
}



.fiche {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.435); /* Définition de la bordure */
    padding: 20px;
    margin: 20px;
    width:800px;
    height:200px;
    position: relative;
   
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
}


.ficheFooter {
    justify-content: space-between; 
    align-items: center; 
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    transform: translate(-2.4%);
    background-color: rgb(81, 17, 28);
    opacity: 0.9;
}

.details {
    background-color: rgb(81, 17, 28);
    color: #fff;
    border: none;
    cursor: pointer;
    right:0;
    width: 200px;
    height: 50px;
}

.ficheFooter a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.ficheHead{
    display: flex;
    flex-direction: row;
}

.left img{
    width:150px;
    margin-top: 25px;
}
.container1{
    display: flex;
    flex-direction: row;
}
.localisation{
    margin-right: 40px;
    margin-left: 60px;
}
.container1 p{
    color: white;
}

.date i {
    color: white; 
    margin-right: 5px;
}
.fas.fa-map-marker-alt{
    color: white; 
    margin-right: 5px;
}

.ville{
    background-color: rgb(179, 124, 133);
    opacity: 0.8;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    
  }

.ville p{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    margin-bottom: 20px;
}


.content h1 {
    font-size: 30px;
    color: white;
    margin-top: 100px;
    text-align: center;
  }

h1{
    margin-top: 150px;
    text-align: center;
}
.period{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 40px;
}



footer p{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

.social-icons a:hover {
    color: #55acee; /* couleur Twitter */
}

.navbar{
    height:12%;
    display:flex;
    align-items: center;

   }

  .logoimg{
    margin-top: 30px;
    width: 200px;
    cursor: pointer;

  }
  
  nav{
    flex:1;
    text-align: right;

  }

  .FAQ {
    margin-right: 150px;
  }

  .navbar .container{
    display: flex;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px ;
    position: relative;
  }

  
  nav ul li ::after {
   content: '';
   height: 3px;
   width: 0;
   background: #009688;
   position: absolute;
   left: 0;
   bottom:-10px;
   transition: 0.5s;
  }
  nav ul li :hover::after {
    width: 100%;
   }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }



  .filtrer{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #009688;
    color: #fff;
    border-radius: 5px 5px 5px 5px; 
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
    width:20%;
    height: 50px;
  }


  .description{
    width: 600px;
  }
  
  .footer-content{
  margin-right: 30px;
  }
  .contact-info{
    text-align:justify;
    line-height: 1.5;
    margin-right: 20px;
  }
    
  .p{
    text-align:justify;
    line-height: 1.5;
  }
  
  .entete{
    display: flex;
   
    margin-bottom: 10px;
  }
  
  .trait-horizontal {
    width: 65%;
    height: 1px; /* épaisseur du trait */
    background-color: white; /* couleur du trait */
    margin-left: 20px;
    margin-top: 10px;
    
  }
  footer h3{
    margin-bottom: 20px;
    padding-left: 0;
    
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icons {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.social-icons a{
  margin-bottom: 10px;
}

.insta{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
}




.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

.social-icons a:hover {
    color: #55acee; /* couleur Twitter */
}