<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/FAQ.css') }}">
</head>
<body>

   <div class="logo">
        <div class="logo1"> <img class="logoimg" src="../static/images/logo.svg"> </div>
   </div>
    <section>
        <h2 class="title">FAQs</h2>
        <div class="faq">
            <div class="question">
                <h3>Quels sont les bénéfices de votre application web pour la gestion d'événements et de projets ?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#e7d0b7" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Notre application permet une gestion efficace des événements et projets en facilitant l'affectation des bénévoles selon leurs critères, ce qui optimise la planification et la réalisation des initiatives.                </p>
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h3>Comment puis-je m'inscrire en tant que bénévole ou chef de projet sur votre plateforme ?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Vous pouvez vous inscrire en tant que bénévole ou chef de projet en remplissant le formulaire d'inscription sur notre site web. Une fois inscrit, vous aurez accès à toutes les fonctionnalités de notre application.                </p>
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h3> Est-ce que votre application est gratuite ?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Oui, notre application est entièrement gratuite pour les bénévoles et les organisations à but non lucratif. Nous croyons en l'importance de soutenir les initiatives communautaires sans frais supplémentaires.   </p>
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h3>Quels types d'événements et de projets peuvent être gérés avec votre application ?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Notre application est polyvalente et peut être utilisée pour la gestion de divers événements communautaires, collectes de fonds, projets de développement, initiatives de sensibilisation et bien plus encore.       </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>Comment fonctionne la recherche sur votre site ?
                </h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Notre site dispose d'un moteur de recherche intégré qui permet aux utilisateurs de trouver rapidement des événements, des projets ou des opportunités de bénévolat en saisissant des mots-clés pertinents. La recherche prend en compte différents critères tels que la localisation, la date, le type d'événement et les compétences requises pour fournir des résultats précis et personnalisés.
                </p>
                        </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>Comment puis-je contacter un bénévole ou un chef de projet sur votre plateforme ?
                </h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Pour contacter un bénévole ou un chef de projet sur notre plateforme, il vous suffit de cliquer sur le bouton "Contacter" qui s'affiche sur le profil de chaque bénévole ou chef de projet. En cliquant sur ce bouton, vous serez redirigé vers un formulaire où vous pourrez saisir votre message ou votre demande spécifique. Une fois que vous avez rempli le formulaire, cliquez sur "Envoyer" et votre message sera transmis au bénévole ou au chef de projet concerné.                 </p>
                        </div>
        </div>

        <div class="faq">
            <div class="question">
<h3> Comment puis-je obtenir de l'aide si quelque chose ne va pas sur votre site ?               </h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Si vous rencontrez des problèmes ou avez des questions concernant notre site,vous pouvez nous contacter en utilisant le formulaire de contact disponible sur la page Help. Il vous suffit de saisir votre question ou votre problème dans le formulaire, puis de soumettre votre demande. Notre équipe de support se fera un plaisir de vous aider et de résoudre vos problèmes dans les plus brefs délais.               </p>
                        </div>
        </div>
    </section>


    
    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p>&copy; 2024 Voitho. Tous droits réservés.</p>
    </footer>
      

    <script src="../static/FAQ.js"></script>
</body>
</html>

