<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title> 
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/HomePage.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
    <div class="image-container">
        <div class="navbar">
            <img class="logoimg" src="../static/images/logo.svg" alt="image2">
            <nav>
                <ul>
                    {% if 'user_id' not in session %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    {% endif %}
                    <li><a href="">Help</a></li>
                    <li class="FAQ" ><a href="#">FAQ</a></li>
                    {% if 'user_id'in session %}
                    <li class="Profile" ><a href="/profil">Profile</a></li>
                    <li class="logout" ><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    

        <div class="content">
            <h1> Empowering the world through volunterism </h1>
            <p> Inscrivez-vous maintenant en tant que bénévole ou chef de projet,<br> devenez acteur du changement ! </p>
                <div>
                    <button onclick="window.location.href='/inscrProjectManager'" type="button"><span></span> Chef de projet</button>
                    <button onclick="window.location.href='registerVolunteer'" type="button"><span></span> Bénévole </button>
                </div>
        </div>
    </div>




    <div class="Description">
        <div class="RechercheBenevole">
            <div class="left">
                <img class="BenImageimg" src="../static/images/BenImage.svg" alt="image3">
            </div>

            <div class="right">
                <div class="Description">
                    <h2>Découvrez des opportunités de bénévolat</h2>
                    <p>Vous êtes à la recherche d'opportunités de bénévolat qui vous
                    permettent <br>de faire une différence dans la société ?<br> Explorez nos
                    projets et trouvez celui qui correspond à vos  intérêts et à <br> votre
                    emploi du temps. Devenez un bénévole et rejoignez-nous pour avoir <br>
                    un impact positif  sur votre communauté !</p>

                </div>
                <div class="searchBen">
                    <form action="/search" id="search-form" class="search-bar" method="GET">
                        <input type="text" id="search-input" placeholder="Search projects" name="q">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

        </div>

        
        <div class="RechercheChef">
            <div class="right">
                <div class="Description">
                    <h2>Découvrez des opportunités de bénévolat</h2>
                    <p>Vous êtes à la recherche d'opportunités de bénévolat qui vous
                    permettent <br>de faire une différence dans la société ?<br> Explorez nos
                    projets et trouvez celui qui correspond à vos  intérêts et à <br> votre
                    emploi du temps. Devenez un bénévole et rejoignez-nous pour avoir <br>
                    un impact positif  sur votre communauté !</p>
                </div>
                <div class="searchProj">
                    <form action="" class="search-bar">
                        <input type="text" placeholder="Search projects" name="q">
                        <a href="#"> <img class="search" src="../static/images/search.svg"></a>
                   </form>
                </div>
            </div>
            
            <div class="left">
                <img class="ProjImageimg" src="../static/images/ProjImage.svg" alt="image3">
            </div>

          

        </div>

    </div>








    <div class="statistiques">
        <div> <img class="title" src="../static/images/statistics.svg"></div>
        <div class="skill1" id="animatedElement1">
            <div class="macilia">
            <div class="outer">
                <div class="inner">
                    <div id="number1"></div>
                </div>
            </div>
            <div class="svg-container">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#009688" />
                             <stop offset="100%" stop-color="#333" />
                        </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round" fill="none" stroke="url(#GradientColor)" stroke-width="20px" stroke-dasharray="439.82" stroke-dashoffset="439.82" />
                </svg>
            </div>
        </div>
            <div> <p> Nombre de Bénévoles inscrits </p></div>
        </div>
        

        <div class="skill2"id="animatedElement2">
        <div class="ines">
            <div class="outer">
                <div class="inner">
                    <div id="number2"></div>
                </div>
            </div>
            <div class="svg-container">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200px" height="200px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#009688" />
                            <stop offset="100%" stop-color="#333" />
                        </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round" fill="none" stroke="url(#GradientColor)" stroke-width="20px" stroke-dasharray="439.82" stroke-dashoffset="439.82" />
                </svg>
            </div>
        </div>
            <div > <p> Nombre de Chef de projet inscrits </p></div>
        </div>

    </div>

    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p>&copy; 2024 Voitho. Tous droits réservés.</p>
    </footer>
      
      
    <script src="{{ url_for('static', filename='HomePage.js') }}"></script>
</body>
</html>
