<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la recherche</title>

</head>

<body>
    <h1>Résultats de la recherche</h1>
    <ul>
        {% for volunteer in volunteers %}
            <li>
                <strong>Nom complet:</strong> {{ volunteer[2] }}<br>
                <span class="additional-info"><strong>Date de naissance:</strong> {{ volunteer[3] }}</span><br>
                <span class="additional-info"><strong>Adresse:</strong> {{ volunteer[4] }}</span><br>
                <span class="additional-info"><strong>Compétences:</strong> {{ volunteer[5] }}</span><br>
                <span class="additional-info"><strong>Numéro de téléphone:</strong> {{ volunteer[6] }}</span><br>
                <span class="additional-info"><strong>Sexe:</strong> {{ volunteer[7] }}</span><br>
                <span class="additional-info"><strong>Intérêts:</strong> {{ volunteer[8] }}</span><br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
