<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la recherche</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/resultat.css') }}">
</head>

<body>
    <div class="image-container">
        
        <div class="content">
            <h1> Retrouvez des benevoles partout en France ! </h1>
        </div>
            <div class="searchBen">
                <form action="/search" id="search-form" class="search-bar" method="GET">
                    <input type="text" id="search-input" placeholder="Search projects" name="q">
                    <button class="search-btn" type="submit">Je recherche</button>
                </form>
            </div>
    </div>


    <h1>Résultats de la recherche</h1>
    <ul>
        {% for volunteer in volunteers %}
            <li>
                <strong>Nom complet:</strong> {{ volunteer[2] }}<br>
                <span class="additional-info"><strong>Date de naissance:</strong> {{ volunteer[3] }}</span><br>
                <span class="additional-info"><strong>Adresse:</strong> {{ volunteer[4] }}</span><br>
                <span class="additional-info"><strong>Compétences:</strong> {{ volunteer[5] }}</span><br>
                <span class="additional-info"><strong>Numéro de téléphone:</strong> {{ volunteer[6] }}</span><br>
                <span class="additional-info"><strong>Sexe:</strong> {{ volunteer[7] }}</span><br>
                <span class="additional-info"><strong>Intérêts:</strong> {{ volunteer[8] }}</span><br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
