<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/resultatprojet.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Résultats de la recherche</title>
 
</head>

<body>
    


    <div class="image-container">
        <div class="navbar">
            <img class="logoimg" src="../static/images/logo.svg" alt="image2">
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="">Help</a></li>
                    <li class="FAQ" ><a href="#">FAQ</a></li>
                    
                </ul>
            </nav>
        </div>
        
        <div class="content">
            <h1> Retrouvez des projets partout en France ! </h1>
        </div>
        <div class="searchBen">
                <form action="/searchpro"  id="search-formpro1" class="search-barpro" method="GET">
                    <input type="text" id="search-inputpro1" placeholder="Search projects" name="name">
                    <a href="#"> <img class="search1" src="../static/images/search.svg"></a>
               </form>
            <form action="/searchpro2" id="search-formpro2" class="search-barpro2" method="GET">
                <input type="text" id="search-inputpro2" placeholder="Ville" name="name">
                <button type="submit"><img class="search2" src="../static/images/search.svg"></button>
            </form>
            <form action="/searchpro3"class="period" method="GET">
                <div class="date">
                    <input type="text" placeholder="start_date" id="start_date" name="start_date" class="flatpickr-input" readonly>
                </div>
                <div class="date">
                    <input type="text"placeholder="end_date" id="end_date" name="end_date" class="flatpickr-input" readonly>
                </div>
                <div>
                    <button type="submit"> <img class="search1" src="../static/images/search.svg"></button>
                </div>
            </form>
            
            
            
           
    </div>            



       
            
      




<h1>{{size}} missions correspondant à votre recherche</h1>
<div class="container">
    {% for project in projects %}         
    <div class="fiche">
        <div class="ficheHead">
        <div class="left">
            <img src="../static/images/projet.svg">
        </div>
        <div class="right">
            <h2> {{ project[1]}}<br></h2>
            <p> <strong> Domaine : </strong> {{project[10]}}</p>
            <div class="ville"> <p> {{project[6]}}</p></div>
        </div>
        </div>
        <div class="ficheFooter">
            <div class="container1">
                <div class="localisation"><p><i class="fas fa-map-marker-alt"></i> {{ project[8] }}</p> </div> 
                <div class="date"> <p><i class="far fa-calendar-alt"></i> Du {{ project[3] }} au {{project[4]}}</p></div>
            </div>
            <div class="container2">
                <button class="details"> VOIR LES DETAILS </button>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>   
    


 <footer>
    <div class="insta">
    <h3>Retrouvez nous sur </h3>
    <div class="social-icons">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
    </div>
    </div>
    <div class="footer-content">
        <div class="description">
            <div class="entete">
            <h3>À propos de Voitho</h3>
            <div class="trait-horizontal"><br></div></div>
            <p class="p"> Voitho est une plateforme en ligne dédiée à la gestion d'événements et de projets, visant à simplifier la coordination des ressources humaines. Que vous organisiez un événement communautaire, une collecte de fonds ou un projet à long terme, Voitho offre une solution intuitive pour optimiser la planification et la réalisation de vos initiatives.</p> 
        </div>
    </div>
        <div class="contact-info">
            <h3>Contactez nous sur</h3>
            <p>Email: contact@voitho.com </br>
            Téléphone: +123456789</p>
        </div>

        
</footer>
  



           
                
          

   




<script src="../static/resultatprojet.js"></script>
</body>
</html>
